@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Titan One', 'DM Sans', sans-serif;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;

  @include table {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include desktop {
    padding-left: 16px;
    padding-right: 16px;
  }
}
