$accent-color: #d41443;
$priority-title-color: #d41443;
$text-color: #ffffff;
$second-text-color: #000000;
$third-text-color: #907e82;
$menu-bg: #e17992;
$hero-bg: #ffb8ca;
$priority-bg-color: #fff5f6;
$accent-font-family: ‘Titan One’;
$font-family: ‘DM Sans’;
