<section class="contacts">
  <div class="container">
    <h2 class="contacts-title visually-hidden" id="contact">Contacts</h2>
    <ul class="contacts-boxes">
      <li class="contacts-cards list">
        <div class="place-one">
          <p class="contacts-schedule">CAFE</p>
        </div>
        <p class="contacts-subtitle">Chicago</p>
        <p class="contacts-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="wrapper-one">
          <p class="contacts-date">Monday - Friday</p>
          <p class="contacts-time">06:00 AM - 10:00 PM</p>
        </div>
        <div class="wrapper-two">
          <p class="contacts-date">Saturday - Sunday</p>
          <p class="contacts-time">08:00 AM - 16:00 PM</p>
        </div>
        <a href="tel:+610383766284 " class="contacts-link">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
      </li>
      <li class="contacts-cards list">
        <div class="place-two">
          <p class="contacts-schedule">FOOD TRUCK</p>
        </div>
        <p class="contacts-subtitle">Los Angeles</p>
        <p class="contacts-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="wrapper-one">
          <p class="contacts-date">Monday - Friday</p>
          <p class="contacts-time">06:00 AM - 10:00 PM</p>
        </div>
        <div class="wrapper-two">
          <p class="contacts-date">Saturday - Sunday</p>
          <p class="contacts-time">08:00 AM - 16:00 PM</p>
        </div>
        <a href="tel:+610383766284 " class="contacts-link">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
      </li>
      <li class="contacts-cards list">
        <div class="place-three">
          <p class="contacts-schedule">CAFE</p>
        </div>
        <p class="contacts-subtitle">New York</p>
        <p class="contacts-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="wrapper-one">
          <p class="contacts-date">Monday - Friday</p>
          <p class="contacts-time">06:00 AM - 10:00 PM</p>
        </div>
        <div class="wrapper-two">
          <p class="contacts-date">Saturday - Sunday</p>
          <p class="contacts-time">08:00 AM - 16:00 PM</p>
        </div>
        <a href="tel:+610383766284 " class="contacts-link">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
      </li>
    </ul>
    <div class="contacts-modalbtn">
     <a class="contact__link modalbtn-one"
          href="https://maps.app.goo.gl/7kKPu3WLA6wbo5UB8" target="_blank" rel="noopener noreferrer">

          Our Locations

          <span><svg class="locations-button__icon-one" width="9" height="16">
              <use href="./images/icons.svg#icon-vector-2"></use>
            </svg>
          </span>
        </a>      
      <button type="button" class="modalbtn-two">
        Franchise
        <span><svg class="locations-button__icon-two" width="9" height="16">
            <use href="./images/icons.svg#icon-vector-1"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>
</section>
