<section>
  <h2 class="contacts-title">Contacts</h2>
  <ul>
    <li class="contacts-cards">
      <div>
        <p class="contacts-schedule">CAFE</p>
      </div>
      <p class="contacts-subtitle">Chicago</p>
      <p class="contacts-text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <p class="contacts-schedule">Monday - Friday</p>
      <p class="contacts-time">06:00 AM - 10:00 PM</p>
      <p class="contacts-schedule">Saturday - Sunday</p>
      <p class="contacts-time">08:00 AM - 16:00 PM</p>
      <a href="tel:+610383766284 " class="">+61(0) 383 766 284</a>
      <a href="mailto:noreply@envato.com" class="">noreply@envato.com</a>
    </li>
    <li class="contacts-cards">
      <div>
        <p class="contacts-schedule">FOOD TRUCK</p>
      </div>
      <p class="contacts-subtitle">Los Angeles</p>
      <p class="contacts-text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <p class="contacts-schedule">Monday - Friday</p>
      <p class="contacts-time">06:00 AM - 10:00 PM</p>
      <p class="contacts-schedule">Saturday - Sunday</p>
      <p class="contacts-time">08:00 AM - 16:00 PM</p>

      <a href="tel:+610383766284 " class="">+61(0) 383 766 284</a>
      <a href="mailto:noreply@envato.com" class="">noreply@envato.com</a>
    </li>
    <li class="contacts-cards">
      <div>
        <p class="contacts-subtitle">CAFE</p>
      </div>
      <p class="contacts-schedule">New York</p>
      <p class="contacts-text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <p class="contacts-schedule">Monday - Friday</p>
      <p class="contacts-time">06:00 AM - 10:00 PM</p>
      <p class="contacts-time">Saturday - Sunday</p>
      <p class="contacts-time">08:00 AM - 16:00 PM</p>

      <a href="tel:+610383766284 " class="contacts-link">+61(0) 383 766 284</a>
      <a href="mailto:noreply@envato.com" class="contacts-link"
        >noreply@envato.com</a
      >
    </li>

    <div>
      <button type="button" class="contacts-modalbtn">Our Locations</button>
      <button type="button" class="contacts-modalbtn">Franchise</button>
    </div>
  </ul>
</section>
