<section class="customer-reviews">
    <h2 class="visually-hidden">Slider</h2>
    <!-- Swiper -->

    <div class="swiper mySwiper container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <picture>
                    <source
                        srcset="./images/customer-reviews/girl1-85.png 1x, ./images/customer-reviews/girl1-170.png 2x" />
                    <img class="swiper__img" src="./images/customer-reviews/girl1-85.png" alt="girl smiel" width="85">
                </picture>

                <div class="swiper__adap-bg">
                    <div class="swiper__block swiper__adap">
                        <p class="swiper__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                            sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                </div>
                <svg class="swiper__dots" width="32px" height="4px">
                    <use href="./images/icons.svg#icon-dots"></use>
                </svg>
                <span class="swiper__name">Emily, Chicago</span>
            </div>

            <div class="swiper-slide">
                <picture>
                    <source
                        srcset="./images/customer-reviews/girl2-85.png 1x, ./images/customer-reviews/girl2-170.png 2x" />
                    <img class="swiper__img" src="./images/customer-reviews/girl2-85.png" alt="girl smiel" width="85">
                </picture>
                <div class="swiper__adap-bg">
                    <div class="swiper__block swiper__adap">
                        <p class="swiper__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                            sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                </div>
                <svg class="swiper__dots" width="32px" height="4px">
                    <use href="./images/icons.svg#icon-dots"></use>
                </svg>
                <span class="swiper__name">Mishell, Los Angeles</span>
            </div>

            <div class="swiper-slide">
                <picture>
                    <source
                        srcset="./images/customer-reviews/girl3-85.png 1x, ./images/customer-reviews/girl3-170.png 2x" />
                    <img class="swiper__img" src="./images/customer-reviews/girl3-85.png" alt="girl smiel" width="85">
                </picture>
                <div class="swiper__adap-bg">
                    <div class="swiper__block swiper__adap">
                        <p class="swiper__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                            sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                </div>
                <svg class="swiper__dots" width="32px" height="4px">
                    <use href="./images/icons.svg#icon-dots"></use>
                </svg>
                <span class="swiper__name">Mika, New York</span>
            </div>
        </div>
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
        <div class="swiper-pagination"></div>
    </div>





</section>