<footer class="footer">
    <div class="container option">

<div class="text">
        <p class="footer-title">homemade ice cream<br>made</p>
        <p class="footer-text">with</br>passion</p>
</div>


<div class="ftr">

    <div class="ftr-social">
<ul class="list ftr-social-list">
    <li class="ftr-social-list__icon">
        <a class="icon-hover" href="https://www.github.com"><svg class="ftr-social__icon" width="20" height="20">
    <use href="./images/icons.svg#icon-git-new"></use></svg>
        </a>
    </li>

    <li class="ftr-social-list__icon">
        <a href="https://www.telegram.org"><svg class="ftr-social__icon" width="20" height="20">
        <use href="./images/icons.svg#icon-telegram-new"></use>
    </svg>
        </a>
    </li>       

    <li class="ftr-social-list__icon">
        <a href="https://www.facebook.com"><svg class="ftr-social__icon" width="20" height="20">
        <use href="./images/icons.svg#icon-facebook-new"></use>
    </svg>
        </a>
    </li>
</ul>
    </div>
        
    <div class="ftr-phone">
            <p class="ftr-phone-text">Feel free to contact <span>
                <a href="tel:+610383766284" class="ftr-phone-text__color">+61 (0) 383 766 284</a></span>
            </p></div>
    </div>


</div>
    <div class="copyright">
    <p class="copyright-text">© 2022 - IceCream.</br>All Rights Reserved.</p>

    </div>



    
</footer>
