<section class="gallery" id="gallery">
  <h2 class="visually-hidden">Gallery</h2>
<ul class="gallery__list list">
  <li class="gallery__item">
    <div class="gallery-first-last">
  <picture class="gallery__picture">
    <a class="gallery__link" href="#gallery">
  <source srcset="./images/gallery/desktop/1-138.png 1x, ./images/gallery/desktop/1-276.png 2x">
  <img class="gallery__picture " srcset="./images/gallery/desktop/1-138.png"  src="./images/gallery/desktop/1-138.png" alt="nice picture">
</a>
</picture>
</div>
  </li>
  <li class="gallery__item">
    <div class="gallery-two-four">
  <picture>
    <a class="gallery__link" href="#gallery">
  <source srcset="./images/gallery/desktop/2-138.png 1x, ./images/gallery/desktop/2-276.png 2x">
  <img class="gallery__picture" srcset="./images/gallery/desktop/2-138.png"  src="./images/gallery/desktop/2-138.png" alt="nice picture">
</a>
</picture>
  <picture>
    <a class="gallery__link" href="#gallery">
  <source srcset="./images/gallery/desktop/3-138.png 1x, ./images/gallery/desktop/3-276.png 2x">
  <img  class="gallery__picture" srcset="./images/gallery/desktop/3-138.png"  src="./images/gallery/desktop/3-138.png" alt="nice picture">
</a>
</picture>
</div>
  </li>
  <li class="gallery__item">
      <picture>
        <a class="gallery__link" href="#gallery">
  <source srcset="./images/gallery/desktop/4-283.png 1x, ./images/gallery/desktop/4-566.png 2x">
  <img class="gallery__picture-big" srcset="./images/gallery/desktop/4-283.png"  src="./images/gallery/desktop/4-283.png" alt="nice picture">
</a>
</picture>
  <picture>
    <a class="gallery__link" href="#gallery">
  <source srcset="./images/gallery/desktop/5-138.png 1x, ./images/gallery/desktop/5-276.png 2x">
  <img class="gallery__picture" class="gallery__picture" srcset="./images/gallery/desktop/5-138.png"  src="./images/gallery/desktop/5-138.png" alt="nice picture">
</a>
</picture>
  </li>
  <li class="gallery__item">
    <div class="gallery-two-four">
      <picture>
        <a class="gallery__link" href="#gallery">
  <source srcset="./images/gallery/desktop/6-138.png 1x, ./images/gallery/desktop/6-276.png 2x">
  <img class="gallery__picture" srcset="./images/gallery/desktop/6-138.png"  src="./images/gallery/desktop/6-138.png"  alt="nice picture">
</a>
</picture>
  <picture>
    <a class="gallery__link" href="#gallery">
  <source srcset="./images/gallery/desktop/7-138.png 1x, ./images/gallery/desktop/7-276.png 2x">
  <img class="gallery__picture" srcset="./images/gallery/desktop/7-138.png"  src="./images/gallery/desktop/7-138.png" alt="nice picture">
</a>
</picture>
</div>
  </li>
  <li class="gallery__item">
    <div class="gallery-fife">
      <picture>
         <a class="gallery__link" href="#gallery">
  <source srcset="./images/gallery/desktop/8-138.png 1x, ./images/gallery/desktop/8-276.png 2x">
  <img class="gallery__picture" srcset="./images/gallery/desktop/8-138.png"  src="./images/gallery/desktop/8-138.png" alt="nice picture">
  </a>
</picture>
  <picture>
    <a class="gallery__link" href="#gallery">
  <source srcset="./images/gallery/desktop/9-138.png 1x, ./images/gallery/desktop/9-276.png 2x">
  <img class="gallery__picture" srcset="./images/gallery/desktop/9-138.png"  src="./images/gallery/desktop/9-138.png" alt="nice picture">
</a>
</picture>
</div>
  </li>
  <li class="gallery__item">
      <picture>
        <a class="gallery__link" href="#gallery">
  <source srcset="./images/gallery/desktop/10-138.png 1x, ./images/gallery/desktop/10-276.png 2x">
  <img class="gallery__picture gallery-first-last" srcset="./images/gallery/desktop/10-138.png"  src="./images/gallery/desktop/10-138.png" alt="nice picture">
</a>
</picture>
  </li>
</ul>
</section>
