<header class="header container">
  <a href="#home">
    <svg
      width="199px"
      height="50px"
      class="header__logo animate__animated animate__flipInX"
      aria-label="логотип компании"
    >
      <use href="./images/icons.svg#icon-logo"></use>
      </svg></a>
  <!-- ШАПКА НАВИГАЦИЯ ======================================= -->
  <nav class="header__nav">
    <ul class="header__list list">
      <li class="header__item header__item">
        <a href="#home" class="header__link header__link--red">Home</a>
      </li>
      <li class="header__item">
        <a href="#about-us" class="header__link">About us</a>
      </li>
      <li class="header__item">
        <a href="#how-made" class="header__link">How it’s made?</a>
      </li>
      <li class="header__item">
        <a href="#our-products" class="header__link">Our products</a>
      </li>
      <li class="header__item">
        <a href="#contact" class="header__link">Contact</a>
      </li>
    </ul>
  </nav>

  <div class="header__right-block">
    <!-- БУРГЕР ======================================= -->
    <button type="button" class="burger" data-modal-open>
      <svg
        class="burger__svg"
        width="20px"
        height="20px"
      >
        <use
          class="header__open-menu"
          href="./images/icons.svg#icon-burger"
        ></use>
      </svg>
    </button>
    <!-- <БЕЛАЯ КНОПКА> ======================================= -->
    <button type="button" class="header__button">
      <span class="header__test-button">Buy now</span>
      <svg
        width="8px"
        height="16px"
        class="icon-arrow"
      >
        <use href="./images/icons.svg#icon-vector-1"></use>
      </svg>
    </button>
  </div>
  <!-- МЕНЮ ======================================= -->
  <div data-modal class="backdrop is-hidden">
    <div class="modal">
      <div class="modal__container">
        <button data-modal-close type="button" class="modal__icon-close">
          <svg class="header__close-svg">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>

        <button type="button" class="modal__button">
          <span class="modal__text-button">Buy now</span>
          <svg
            width="8px"
            height="16px"
            class="modal_icon-arrow"
          >
            <use href="./images/icons.svg#icon-vector-1"></use>
          </svg>
        </button>
        <nav class="modal__nav">
          <ul class="modal__list">
            <li class="modal__item">
              <a href="#home" class="modal__link modal__link--red">Home</a>
            </li>
            <li class="modal__item">
              <a href="#about-us" class="modal__link">About us</a>
            </li>
            <li class="modal__item">
              <a href="#how-made" id="how-its-made" class="modal__link"
                >How it’s made?
                </a>
            </li>
            <li class="modal__item">
              <a href="#our-products" class="modal__link">Our products</a>
            </li>
            <li class="modal__item">
              <a href="#contact" class="modal__link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
