<header class="header">
  <nav class="header__nav container">
    <ul class="header__list list">
      <li class="header__item header__item--current"><a href="">Home</a></li>
      <li class="header__item"><a href="">About us</a></li>
      <li class="header__item"><a href="">How it’s made?</a></li>
      <li class="header__item"><a href="">Our products</a></li>
      <li class="header__item"><a href="">Contact</a></li>
    </ul>
    <b>fdf </b>
    <button class="button">Buy now</button>
  </nav>
</header>

