<section class="hero container">
  <div class="hero__box">
    <div>
      <h1 class="hero__title"><span class="hero__span">ice cream
          made with</span> passion</h1>
      <ul class="hero__buttons-list list">
        <li>
          <button type="button" class="hero__button">Products</button>
        </li>
        <li>
          <button type="button" class="hero__button hero__button--invers">How it's made?</button>
        </li>
    </div>
    </ul>
    <ul class="number list">
      <li class="number__item">
        <span class="number__span">16</span>
        <p class="number__text">cafes</p>
      </li>

      <li class="number__item">
        <span class="number__span">23</span>
        <p class="number__text number__text--mini">food trucks</p>
      </li>
    </ul>
  </div>
  <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et</p>
  <button class="gallery__button-arrow">
    <!-- <img src="./images/hero/desktop/arrow-right.png" alt="arrow"> -->
    <svg class="gallery__icon">
      <use href="./images/icons.svg#icon-arrow-right2"></use>
    </svg>
  </button>
</section>