 
<section class="hero container">
  <div>
<h1 class="hero__title"><span class="hero__span">ice cream
made with</span> passion</h1>
<ul class="hero__buttons-list list">
  <li>
<button type="button" class="hero__button">Products</button>
  </li>
  <li>
<button type="button" class="hero__button hero__button--invers">How it's made?</button>
  </li>
</div>
</ul>
<ul class="number__list list">
  <li class="number__item">
    <span class="number__span">16</span>
    <p class="number__text">cafes</p>
  </li>
  <li>
      <span class="number__span">23</span>
    <p class="number__text">food trucks</p>
  </li>
</ul>
<p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
</section>