<div class="menu" id="menu-container" data-menu>
  <ul class="menu-site">
    <li class="menu-site__item">
      <a href="" class="menu-site__link">Home</a>
    </li>
    <li class="menu-site__item">
      <a href="" class="menu-site__link">About us</a>
    </li>
    <li class="menu-site__item">
      <a href="" class="menu-site__link">How it’s made?</a>
    </li>
    <li class="menu-site__item">
      <a href="" class="menu-site__link">Our products</a>
    </li>
    <li class="menu-site__item">
      <a href="" class="menu-site__link">Contact</a>
    </li>
  </ul>
</div>
