<section class="products">
  <p class="products__pretitle">100% natural</p>
  <h2 class="products__title">PRODUCTS</h2>
  <ul>
    <li class="products__card-one list">
      <h3 class="products__subtitle">ICE CREAM</h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
      <button class="open-button" type="button">
        <svg class="open-button__icon" width="40" height="40">
          <!-- <use href=""></use> -->
        </svg>
      </button>
    </li>
    <li class="products__card-two list">
      <h3 class="products__subtitle">ICE COFFEE</h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
      <button class="open-button" type="button">
        <svg class="open-button__icon" width="40" height="40">
          <!-- <use href=""></use> -->
        </svg>
      </button>
    </li>
    <li class="products__card-three list">
      <h3 class="products__subtitle">MILKSHAKES</h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
      <button class="open-button" type="button">
        <svg class="open-button__icon" width="40" height="40">
          <use href="#"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
