.header {
  align-items: flex-end;
  display: flex;
  background-color: $hero-bg;
  height: 58px;

  @include table {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 82px;
    width: 100%;
    background-color: transparent;
  }
  @include desktop {
    padding-top: 37px;
    height: 87px;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
  }
}
.header__logo {
  filter: drop-shadow(1px 1px 1px #32323299);
}
.header__nav {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.header__list {
  display: none;
  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
}

.header__link {
  padding-top: 10px;
  padding-bottom: 10px;
  @include font('DM Sans', 700, 16px, 1.31, none, 0.03em);
  color: $text-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--red {
    color: $accent-color;
  }
}

.header__right-block {
  display: flex;
  align-items: center;
}
.header__button {
  display: none;
  align-items: center;
  height: 44px;
  &:hover,
  &:focus {
    animation: header__button 1s;
    box-shadow: 0 0 0 2em transparent;
  }

  @keyframes header__button {
    0% {
      box-shadow: 0 0 0 0 #ffa5ba;
    }
  }

  @include font('DM Sans', 700, 16px, 1.31, none, 0.03em);
  color: $accent-color;
  background-color: $text-color;
  padding: 12px 37px 12px 37px;
  border-radius: 22px;
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include table {
    display: flex;
    margin-left: 32px;
  }
}
.header__test-button {
  margin-right: 12px;
}
// БУРГЕР ========================
.burger {
  margin-left: auto;
  align-items: center;
  z-index: 999;

  border: none;
  background-color: transparent;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0;
  padding-right: 0;
  @include table {
    display: flex;
  }
  @include desktop {
    display: none;
  }
}
