.hero {
  position: relative;
  background-color: $hero-bg;
  padding-top: 136px;
  padding-bottom: 158px;
  background-image: url(../images/hero/mobile/cream-171.png), url(../images/hero/desktop/ellipse-534.png);
  background-position: bottom 0 right 32px, bottom 75px right -82px;
  background-repeat: no-repeat;
  background-size: 171px 410px, 346px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: url(../images/hero/mobile/cream-342.png),
        url(../images/hero/desktop/ellipse-534.png);
    }
  }

  @include table {
    padding-top: 20px;
    padding-bottom: 190px;
    background-image:
    url(../images/hero/mobile/cream-171.png),
    url(../images/hero/desktop/ellipse-534.png),
    url(../images/hero/desktop/moloko-213.png),
    url(../images/hero/desktop/girl-304.png),
    url(../images/hero/tablet/ellipse-16.png),
    url(../images/hero/tablet/ellipse-16.png),
    url(../images/hero/desktop/arrow-right.png);
    background-position: bottom 0 right 45%, bottom 40px right 45%, bottom 16px left 0, bottom 0  right 0, bottom 56px left 184px;
    background-size: 143px 336px, 335px, 152px, 190px 150px, 18px 18px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        & {
          background-image: url(../images/hero/mobile/cream-342.png), url(../images/hero/desktop/Ellipse-534.png), url(../images/hero/desktop/moloko-426.png), url(../images/hero/desktop/girl-608.png), url(../images/hero/desktop/arrow-right.png);
        }
  }
}
.hero__box{
  display: flex;
  justify-content: space-between;
}

.hero__title {
  font-family: 'Titan One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 96.5%;
  text-transform: uppercase;
  color: $accent-color;
  width: 218px;

  @include table{
    font-size: 34px;
    line-height: 90.5%;
  }
}

.hero__span {
  display: block;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  color: $text-color;

    @include table {
      font-size: 22px;
    line-height: 1.14;
      letter-spacing: 0.04em;
      }
}

.hero__buttons-list {
  display: flex;
  margin-top: 20px;
  gap: 8px;
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 24px;
  padding-right: 24px;
  height: 24px;
  flex-direction: row;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: $text-color;
  background-color: $accent-color;
  border: none;
  border-radius: 20px;

  &--invers {
    color: $accent-color;
    background-color: $text-color;
  }
}

.number {
  display: none;

  @include table {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 51px;
  }
}

.number__item{
display: block;
  width: 51px;
    height: 44px;
background-image: url(../images/hero/tablet/ellipse-16.png);
background-position: top 0 right 0;
background-size: 16px 16px;
background-repeat: no-repeat;

}

.number__span{
  display: block;
  // width: 100%;
  padding-right: 10px;
font-family: 'Titan One';
font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-align: right;
  color: $accent-color;
}

.number__text{
  padding-right: 10px;
font-family: 'DM Sans';
  font-size: 8px;
  line-height: 10px;
  text-align: right;
  color: $text-color;

  &--mini{
    padding-right: 0;
  }

}

.hero__text {
  display: none;

  @include table{
    display: block;
    width: 114px;
    position: absolute;
    bottom: 81px;
    left: 184px;

    font-family: 'DM Sans';
      font-size: 8px;
      line-height: 150%;
      color: $text-color;
  }


}

}